# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/

# env
.env.local
.env.*.local

# oracle wallet (contains private keys — NEVER commit this)
/wallet/

# file uploads
/uploads/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
